{%extends "layout.html"%}

{%block contenido%}

   <!-- HACER QU ESTA SECCION FUNCIONE CON AJAX -->
   
   <article>
           <h1>{{articulo.titulo}}</h1>
           <p>{{articulo.contenido}}</p>
   </article>
   <section>
   		<h2>Comentarios:</h2>
   		{%for comentario in articulo.comentarios%}
   			<article>
   				{{comentario.autor}} dice:<p>{{comentario.comentario}}</p>
   			</article>
   		{%endfor%}
   </section>
   
   <ul>Categorias del Post
   		{%for categoria in articulo.categorias%}
   			<li>{{categoria.nombre}}</li>
   		{%endfor%}
   </ul>
      
{%endblock%}